.httpsunsplashcomphotos6lIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 93.75rem;
  height: 30.188rem;
  object-fit: cover;
}
.contact1,
.getInTouch {
  position: absolute;
  text-transform: uppercase;
}
.getInTouch {
  margin: 0;
  top: 12.188rem;
  right: 61.313rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 25.563rem;
}
.contact1 {
  top: 10rem;
  right: 82.938rem;
  font-size: var(--label-02-size);
  color: var(--primary);
}
.background,
.header {
  position: absolute;
  width: 100%;
  left: 0;
}
.header {
  top: 5rem;
  height: 30.188rem;
  text-align: left;
  font-size: var(--heading-h2-size);
  color: var(--white);
  font-family: var(--label-02);
}
.background {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.buttonText {
  position: relative;
  font-size: var(--label-02-size);
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--label-02);
  color: var(--black);
  text-align: center;
}
.navButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl) var(--padding-29xl);
  background-color: var(--primary);
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% + 460.5px);
  border-radius: var(--br-xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
}
.navButton:hover {
  background-color: var(--color-burlywood);
}
.ministry {
  width: 28.73%;
  left: 71.27%;
}
.aboutUs,
.home,
.ministry {
  position: absolute;
  top: 38.75%;
  text-transform: uppercase;
  display: inline-block;
  opacity: 0.9;
  cursor: pointer;
}
.aboutUs {
  width: 29.27%;
  left: 37.13%;
  white-space: nowrap;
}
.home {
  width: 18.97%;
  left: 2.17%;
  text-align: right;
}
.divider {
  height: 100%;
  bottom: 0;
  left: 0;
  width: 0;
  opacity: 0.1;
}
.agmi,
.divider,
.linksList {
  position: absolute;
  top: 0;
}
.linksList {
  height: 100%;
  width: 24.6%;
  right: 33.87%;
  bottom: 0;
  left: 41.53%;
}
.agmi {
  margin: 0;
  left: 0;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 4.375rem;
  height: 2.063rem;
  white-space: nowrap;
}
.abundantGraceMinistries,
.logo {
  position: absolute;
  cursor: pointer;
}
.logo {
  top: 0.313rem;
  left: 17.688rem;
  width: 4.375rem;
  height: 2.125rem;
  overflow: hidden;
  font-size: var(--heading-h4-size);
}
.abundantGraceMinistries {
  top: 3.063rem;
  left: 12.938rem;
  text-transform: uppercase;
  white-space: nowrap;
}
.agmiLogo1Icon {
  position: absolute;
  height: calc(100% - 20px);
  width: 3.4%;
  top: 0.625rem;
  right: 88.47%;
  bottom: 0.625rem;
  left: 8.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 99;
  text-align: left;
  font-size: var(--label-02-size);
  color: var(--white);
  font-family: var(--label-02);
}
.contact {
  width: 100%;
  height: 100.938rem;
  position: relative;
  background-color: var(--grey);
  overflow: hidden;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .getInTouch {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
}
@media screen and (max-width: 450px) {
  .getInTouch {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
}
