.kerala683642India,
.kochiErnakulam,
.pOBox37,
.perumbavoorPO {
  margin: 0;
}
.pOBox37Container {
  margin: 0;
  position: absolute;
  top: 1.813rem;
  right: 0;
  font-size: inherit;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.address2 {
  right: 10.25rem;
  font-size: var(--label-03-size);
  color: var(--dark);
  opacity: 0.7;
}
.address,
.address1,
.address2 {
  position: absolute;
  top: 0;
}
.address1 {
  right: 0;
  width: 100%;
  height: 100%;
}
.address {
  right: 4.813rem;
  width: 13.938rem;
  height: 8.813rem;
}
.finsweetexamplecom,
.ph9194466 {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.finsweetexamplecom {
  margin: 0;
  top: 4.25rem;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.ph9194466 {
  top: 2rem;
  right: 0;
  display: inline-block;
  width: 18.75rem;
}
.contactDetails2 {
  position: absolute;
  top: 0;
  right: 12.688rem;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
  color: var(--dark);
  opacity: 0.7;
}
.contactDetails,
.contactDetails1 {
  position: absolute;
  left: 0;
  width: 100%;
}
.contactDetails1 {
  top: 0;
  height: 100%;
}
.contactDetails {
  top: 10.75rem;
  height: 6rem;
}
.findUsHere {
  position: absolute;
  top: 0;
  right: 4rem;
  line-height: 1.5rem;
  opacity: 0.7;
}
.facebookNegative,
.twitterNegative {
  position: absolute;
  top: 0;
  right: 7.25rem;
  width: 1.563rem;
  height: 1.625rem;
  overflow: hidden;
}
.twitterNegative {
  right: 3.625rem;
  width: 1.625rem;
}
.instaFillIcon {
  position: absolute;
  top: 0;
  left: 7.125rem;
  width: 1.688rem;
  height: 1.688rem;
  object-fit: cover;
}
.addresses,
.icons,
.social {
  position: absolute;
  width: 8.813rem;
}
.icons {
  top: 2rem;
  right: 0;
  height: 1.688rem;
}
.addresses,
.social {
  top: 18.75rem;
  right: 9.938rem;
  height: 3.688rem;
  font-size: var(--label-02-size);
  color: var(--dark);
}
.addresses {
  top: 46.938rem;
  right: 21.125rem;
  width: 18.75rem;
  height: 22.438rem;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--black1);
  font-family: var(--label-02);
}
@media screen and (max-width: 450px) {
  .finsweetexamplecom,
  .pOBox37Container,
  .ph9194466 {
    font-size: var(--font-size-lgi);
  }
}
