.httpsunsplashcomphotos3xIcon {
  position: absolute;
  height: 100%;
  top: 0;
  right: 32.75rem;
  bottom: 0;
  max-height: 100%;
  width: 31.25rem;
  object-fit: cover;
}
.allAreWelcome {
  margin: 0;
  position: absolute;
  top: 0;
  right: 14.438rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.loremIpsumDolor {
  top: 3.75rem;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
  display: inline-block;
  width: 29.75rem;
  opacity: 0.78;
}
.content,
.loremIpsumDolor,
.section4 {
  position: absolute;
  right: 0;
}
.content {
  top: 5.125rem;
  width: 29.75rem;
  height: 9.75rem;
}
.section4 {
  top: 92.5rem;
  width: 100%;
  height: 20rem;
}
.httpsunsplashcomphotos3mIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 32.75rem;
  max-height: 100%;
  width: 31.25rem;
  object-fit: cover;
}
.charityEvents {
  margin: 0;
  position: absolute;
  top: 0;
  right: 17.188rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.content1,
.loremIpsumDolor1 {
  position: absolute;
  width: 31.25rem;
}
.loremIpsumDolor1 {
  top: 3.75rem;
  right: 0;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
  display: inline-block;
  opacity: 0.78;
}
.content1 {
  top: 5.125rem;
  right: 32.75rem;
  height: 9.75rem;
}
.section3 {
  position: absolute;
  top: 66.5rem;
  left: 0;
  width: 100%;
  height: 20rem;
}
.httpsunsplashcomphotos3xIcon1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 32.75rem;
  bottom: 0;
  max-height: 100%;
  width: 31.25rem;
  object-fit: cover;
}
.sharedValues {
  margin: 0;
  position: absolute;
  top: 0;
  right: 4.125rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 25.625rem;
}
.loremIpsumDolor2 {
  top: 3.75rem;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
  display: inline-block;
  width: 29.75rem;
  opacity: 0.78;
}
.content2,
.loremIpsumDolor2,
.section2 {
  position: absolute;
  right: 0;
}
.content2 {
  top: 5.125rem;
  width: 29.75rem;
  height: 9.75rem;
}
.section2 {
  top: 40.5rem;
  width: 100%;
  height: 20rem;
}
.httpsunsplashcomphotos3mIcon1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 32.75rem;
  max-height: 100%;
  width: 31.25rem;
  object-fit: cover;
}
.findFulfillmentAnd {
  margin: 0;
  position: absolute;
  top: 0;
  right: 5.625rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 25.625rem;
}
.content3,
.loremIpsumDolor3 {
  position: absolute;
  width: 31.25rem;
}
.loremIpsumDolor3 {
  top: 3.75rem;
  right: 0;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
  display: inline-block;
  opacity: 0.78;
}
.content3 {
  top: 5.125rem;
  right: 32.75rem;
  height: 9.75rem;
}
.section1 {
  position: absolute;
  top: 14.5rem;
  left: 0;
  width: 100%;
  height: 20rem;
}
.benefitsOfOur {
  margin: 0;
  position: absolute;
  top: 2.5rem;
  right: 0;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 27rem;
}
.benefits,
.title {
  position: absolute;
  top: 0;
}
.benefits {
  right: 12.125rem;
  font-size: var(--label-02-size);
  line-height: 1.5rem;
}
.title {
  right: 18.5rem;
  width: 27rem;
  height: 10.5rem;
  text-align: center;
  font-size: var(--heading-h2-size);
}
.benefitsOfOurChurch {
  position: absolute;
  top: 116.563rem;
  right: 14.875rem;
  width: 64rem;
  height: 112.5rem;
  text-align: left;
  font-size: var(--heading-h4-size);
  color: var(--black1);
  font-family: var(--label-02);
}
@media screen and (max-width: 750px) {
  .allAreWelcome,
  .charityEvents,
  .findFulfillmentAnd,
  .sharedValues {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .benefitsOfOur {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
}
@media screen and (max-width: 450px) {
  .allAreWelcome,
  .charityEvents,
  .findFulfillmentAnd,
  .sharedValues {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .benefitsOfOur {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
}
