.contactUs {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.input,
.input1,
.input2,
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.subscribe {
  width: 31.938rem;
  align-items: flex-start;
  padding: 0 var(--padding-11xs);
  max-width: 100%;
}
.input,
.input1,
.input2 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 4rem;
  border-radius: var(--br-9xs);
  align-items: center;
  padding: var(--padding-xl);
  font-size: var(--paragraph-size);
  color: var(--bl);
  min-width: 15.625rem;
}
.buttonText,
.input,
.input1,
.input2,
.input3 {
  font-family: var(--paragraph);
}
.input3 {
  border: 0;
  background-color: var(--white);
  height: 7.5rem;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--paragraph-size);
  color: var(--bl);
}
.buttonText {
  position: relative;
  font-size: var(--label-02-size);
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-2xl) var(--padding-5xl)
    var(--padding-xl);
  background-color: var(--primary);
  align-self: stretch;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-burlywood);
}
.contactDetailsFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem 0;
  min-width: 25.375rem;
  max-width: 100%;
}
.address {
  position: relative;
}
.kerala683642India,
.kochiErnakulam,
.pOBox37,
.perumbavoorPO {
  margin: 0;
}
.pOBox37Container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: var(--heading-h5-size);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  color: var(--bl);
}
.addressText {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem 0;
}
.contactDetails {
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 1.5rem;
  color: var(--color-gray-200);
}
.b,
.finsweetexamplecom {
  position: relative;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.b {
  align-self: stretch;
}
.finsweetexamplecom {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.dividerLine {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem 0;
  font-size: var(--heading-h5-size);
  color: var(--bl);
}
.findUsHere {
  position: relative;
  line-height: 1.5rem;
}
.facebookNegative,
.linkedinNegative,
.twitterNegative {
  height: 1.625rem;
  width: 1.563rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.625rem;
}
.linkedinNegative,
.twitterNegative {
  width: 1.625rem;
}
.linkedinNegative {
  width: 1.563rem;
}
.connectFrame,
.pOPBox {
  display: flex;
  align-items: flex-start;
}
.connectFrame {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.pOPBox {
  width: 8.75rem;
  flex-direction: column;
  gap: 0.5rem 0;
  font-size: var(--paragraph-size);
}
.emailInput,
.inputForm,
.pOPBox {
  justify-content: flex-start;
}
.emailInput {
  height: 21.625rem;
  width: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.563rem 0;
  min-width: 18.75rem;
}
.inputForm {
  align-self: stretch;
  flex-direction: row;
  gap: 0 8rem;
  font-size: var(--label-03-size);
  color: var(--color-gray-200);
}
.contentleft,
.inputForm,
.quicklinks {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.quicklinks {
  width: 65.75rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem 0;
}
.contentleft {
  width: 79.5rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-109xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--dark);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1050px) {
  .emailInput {
    flex: 1;
  }
  .inputForm {
    flex-wrap: wrap;
    gap: 0 8rem;
  }
}
@media screen and (max-width: 750px) {
  .contactDetailsFrame {
    min-width: 100%;
  }
  .inputForm {
    gap: 0 8rem;
  }
  .quicklinks {
    gap: 2rem 0;
  }
  .contentleft {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .b,
  .contactUs,
  .finsweetexamplecom,
  .pOBox37Container {
    font-size: var(--font-size-lgi);
  }
  .inputForm {
    gap: 0 8rem;
  }
}
