.buttonText {
  position: relative;
  font-size: var(--label-02-size);
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--label-02);
  color: var(--black);
  text-align: center;
}
.button,
.input {
  border: 0;
  width: 39rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  padding: var(--padding-5xl) var(--padding-45xl);
  background-color: var(--primary);
  top: calc(50% + 178px);
  left: calc(50% - 312px);
  border-radius: var(--br-xs);
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-base);
  max-width: 100%;
}
.button:hover {
  background-color: var(--color-burlywood);
}
.input {
  background-color: var(--white);
  height: 7.5rem;
  outline: 0;
  top: calc(50% + 46px);
  left: 0;
  border-radius: var(--br-9xs);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl);
  font-family: var(--label-02);
  font-size: var(--label-02-size);
  color: var(--black1);
}
.input1 {
  top: calc(50% - 182px);
  width: 39rem;
}
.input1,
.input2,
.input3 {
  border: 0;
  outline: 0;
  background-color: var(--white);
  position: absolute;
  left: 0;
  border-radius: var(--br-9xs);
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl);
  box-sizing: border-box;
  font-family: var(--label-02);
  font-size: var(--label-02-size);
  color: var(--black1);
}
.input2 {
  width: 100%;
  top: calc(50% - 30px);
}
.input3 {
  top: calc(50% - 106px);
  width: 39rem;
}
.contactUs {
  margin: 0;
  position: absolute;
  top: 0;
  right: 7.188rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 31.688rem;
}
.contactForm {
  position: absolute;
  top: calc(50% - 116.5px);
  left: calc(50% - 640px);
  width: 39rem;
  height: 30.25rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--dark);
  font-family: var(--label-02);
}
@media screen and (max-width: 450px) {
  .contactUs {
    font-size: var(--font-size-lgi);
  }
}
