.imageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mission,
.takePartIn {
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.takePartIn {
  margin: 0;
  font-size: var(--heading-h2-size);
  letter-spacing: -0.01em;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.backgroundShape,
.sermonsHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sermonsHeader {
  padding: var(--padding-141xl) var(--padding-91xl);
  position: relative;
  gap: var(--gap-base);
}
.backgroundShape {
  padding: 0 0 var(--padding-16xl);
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-gray-900);
  font-family: var(--paragraph);
}
@media screen and (max-width: 750px) {
  .takePartIn {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
  .sermonsHeader {
    padding-left: var(--padding-36xl);
    padding-right: var(--padding-36xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .takePartIn {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
  .sermonsHeader {
    padding: var(--padding-85xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
