.background {
  width: 18.875rem;
  height: 22.875rem;
  position: relative;
  background-color: var(--grey);
  display: none;
}
.httpswwwpexelscomphotowIcon {
  width: 100%;
  height: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.105);
}
.wrapperHttpswwwpexelscom {
  width: 9.5rem;
  height: 9.5rem;
  position: relative;
  border-radius: var(--br-187xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joseCarmel {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.agmiPresident {
  position: relative;
  line-height: 1.5rem;
  z-index: 1;
}
.facebookNegative,
.linkedinNegative,
.twitterNegative {
  height: 1rem;
  width: 1rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1rem;
  z-index: 1;
}
.facebookNegativeParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.facebookNegativeParent {
  gap: 0 1.25rem;
}
.frameWrapper {
  padding: 0 var(--padding-7xs);
}
.agmiPresidentParent {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
  gap: 1rem 0;
  font-size: var(--label-02-size);
  color: var(--color-gray-500);
}
.agmiPresidentParent,
.item,
.itemInner,
.joseCarmelParent {
  display: flex;
  justify-content: flex-start;
}
.joseCarmelParent {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem 0;
}
.item,
.itemInner {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-10xl) 0 var(--padding-xl);
}
.item {
  flex: 1;
  background-color: var(--grey);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  min-width: 12.25rem;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--black1);
  font-family: var(--label-02);
}
@media screen and (max-width: 1100px) {
  .item {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .joseCarmel {
    font-size: var(--font-size-lgi);
  }
  .item {
    padding: var(--padding-12xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
