.background {
  width: 18.875rem;
  height: 22.875rem;
  position: relative;
  background-color: var(--grey);
  display: none;
  z-index: 0;
}
.httpswwwpexelscomphotowIcon {
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.105);
}
.wrapperHttpswwwpexelscom {
  height: 9.5rem;
  width: 9.5rem;
  position: relative;
  border-radius: var(--br-187xl);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pOPoBoxFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) var(--padding-5xs);
}
.kimBowen,
.pastorChurch {
  position: relative;
  z-index: 1;
}
.kimBowen {
  margin: 0;
  font-size: var(--heading-h5-size);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  color: var(--bl);
}
.pastorChurch {
  line-height: 1.5rem;
}
.nameFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
}
.review {
  position: relative;
  line-height: 1.5rem;
  z-index: 1;
}
.reviewGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.itemChild {
  width: 6.75rem;
  height: 1.194rem;
  position: absolute;
  margin: 0 !important;
  bottom: 1.431rem;
  left: calc(50% - 54px);
  z-index: 1;
}
.item {
  flex: 1;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-29xl) var(--padding-37xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  min-width: 14.125rem;
  max-width: 18.875rem;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--color-gray-400);
  font-family: var(--paragraph);
}
@media screen and (max-width: 450px) {
  .kimBowen {
    font-size: var(--font-size-lgi);
  }
  .item {
    padding: var(--padding-12xl) var(--padding-xl) var(--padding-17xl);
    box-sizing: border-box;
  }
}
