.imageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.welcomeToOur {
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.inputFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
}
.becomeAPart {
  margin: 0;
  width: 37rem;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 5.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.wwwagmiin {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-13xl);
  box-sizing: border-box;
  max-width: 100%;
}
.buttonText {
  position: relative;
  font-size: var(--label-02-size);
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--paragraph);
  color: var(--black);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl);
  background-color: var(--primary);
  width: 13.375rem;
  border-radius: var(--br-xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.button:hover {
  background-color: var(--color-burlywood);
}
.backgroundShape,
.instagramNegativeFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.instagramNegativeFrame {
  gap: 2rem 0;
  font-size: var(--heading-h1-size);
}
.backgroundShape {
  gap: 1rem 0;
}
.backgroundImage {
  width: 1.125rem;
  height: 0.125rem;
  position: relative;
  border-top: 2px solid var(--primary);
  box-sizing: border-box;
  z-index: 1;
}
.headerFrame {
  height: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.loremIpsumDolor {
  width: 19.25rem;
  position: relative;
  line-height: 1.5rem;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.75rem;
  max-width: 100%;
}
.textBlock {
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  font-size: var(--paragraph-size);
}
.homeHeader,
.quickLinksColumn,
.textBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.homeHeader {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-109xl) var(--padding-59xl);
  position: relative;
  gap: var(--gap-45xl);
}
.quickLinksColumn {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-109xl);
  text-align: left;
  font-size: var(--label-02-size);
  color: var(--white);
  font-family: var(--paragraph);
}
@media screen and (max-width: 1050px) {
  .homeHeader {
    gap: var(--gap-45xl);
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .quickLinksColumn {
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .becomeAPart {
    font-size: var(--font-size-32xl);
    line-height: 4.125rem;
  }
  .instagramNegativeFrame {
    gap: 2rem 0;
  }
  .homeHeader {
    padding-top: var(--padding-64xl);
    padding-bottom: var(--padding-64xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .becomeAPart {
    font-size: var(--font-size-19xl);
    line-height: 3.063rem;
  }
  .homeHeader {
    gap: var(--gap-45xl);
  }
  .quickLinksColumn {
    padding-bottom: var(--padding-35xl);
    box-sizing: border-box;
  }
}
