.subHeadline {
  position: relative;
  text-transform: uppercase;
}
.contentRight {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
}
.loveAndCompassion {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h2-size);
  letter-spacing: -0.01em;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
}
.shape {
  width: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem 0;
  max-width: 100%;
}
.loremIpsumDolor {
  width: 52.875rem;
  position: relative;
  font-size: var(--paragraph-size);
  line-height: 1.5rem;
  color: var(--color-gray-500);
  text-align: center;
  display: inline-block;
}
.text,
.text1 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.text1 {
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
}
.text {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.httpswwwpexelscomphotoaIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.backgroundImage {
  height: 27rem;
  width: 18.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 0;
  box-sizing: border-box;
}
.buttonText {
  position: relative;
  font-size: var(--label-02-size);
  line-height: 1rem;
  text-transform: uppercase;
  font-family: var(--paragraph);
  color: var(--black);
  text-align: center;
}
.button1,
.textBlock {
  display: flex;
  flex-direction: row;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl);
  background-color: var(--primary);
  width: 12.813rem;
  border-radius: var(--br-xs);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.button1:hover {
  background-color: var(--color-burlywood);
}
.textBlock {
  width: 15.625rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.httpswwwpexelscomphotomIcon {
  align-self: stretch;
  height: 32rem;
  position: relative;
  border-radius: var(--br-13xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem 0;
  min-width: 15.813rem;
  max-width: 100%;
}
.httpswwwpexelscomphotopIcon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.backgroundImage1,
.button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.backgroundImage1 {
  height: 27rem;
  width: 18.313rem;
  flex-direction: column;
  padding: var(--padding-29xl) 0 0;
}
.button {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0 var(--padding-5xs);
  gap: 0 1.5rem;
  max-width: 100%;
}
.missionVision {
  position: relative;
  text-transform: uppercase;
}
.iconFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  font-size: var(--label-02-size);
}
.celebrateWithUs {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.lineAndCircle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-lg);
  font-size: var(--heading-h4-size);
}
.loremIpsumDolor1 {
  width: 32rem;
  position: relative;
  line-height: 1.5rem;
  color: var(--color-gray-500);
  display: inline-block;
}
.readMore1 {
  position: relative;
  line-height: 1rem;
}
.shapeIcon {
  height: 0.625rem;
  width: 1.125rem;
  position: relative;
}
.readMore,
.textFrame {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.readMore {
  align-items: center;
  gap: var(--gap-10xs);
  cursor: pointer;
}
.textFrame {
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  text-align: left;
  font-family: var(--font-roboto);
}
.relationshipFrame {
  flex-direction: column;
  align-items: center;
  gap: 1rem 0;
}
.quoteFrame,
.relationshipFrame,
.welcome {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.quoteFrame {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--paragraph-size);
}
.welcome {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-37xl);
  text-align: left;
  font-size: var(--label-02-size);
  color: var(--bl);
  font-family: var(--paragraph);
}
@media screen and (max-width: 750px) {
  .loveAndCompassion {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
  .celebrateWithUs {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .welcome {
    gap: var(--gap-37xl);
  }
}
@media screen and (max-width: 450px) {
  .loveAndCompassion {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
  .text1 {
    gap: 2rem 0;
  }
  .backgroundImage {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
  }
  .item {
    gap: 3rem 0;
  }
  .backgroundImage1 {
    padding-top: var(--padding-12xl);
    box-sizing: border-box;
  }
  .celebrateWithUs {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
}
