.emailInput,
.loremIpsumDolor {
  position: absolute;
  line-height: 1.5rem;
  display: inline-block;
  opacity: 0.78;
}
.emailInput {
  top: 8.188rem;
  right: 8rem;
  width: 48rem;
}
.loremIpsumDolor {
  top: 8.688rem;
  right: 0;
  width: 23.25rem;
}
.ourMission,
.strivingForA {
  position: absolute;
  text-transform: uppercase;
}
.strivingForA {
  margin: 0;
  top: 2.188rem;
  right: 0.063rem;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 23.188rem;
}
.ourMission {
  top: 0;
  right: 14rem;
}
.leftContent {
  position: absolute;
  height: 100%;
  top: 0;
  right: 24.688rem;
  bottom: 0;
  width: 23.25rem;
}
.bringingPeaceAnd,
.loremIpsumDolor1 {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 23.188rem;
}
.bringingPeaceAnd {
  margin: 0;
  top: 2.188rem;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.loremIpsumDolor1 {
  top: 8.688rem;
  line-height: 1.5rem;
  opacity: 0.78;
}
.whatWeDo {
  position: absolute;
  top: 0;
  right: 17.875rem;
  text-transform: uppercase;
}
.rightContent {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 23.188rem;
}
.bottomContent {
  position: absolute;
  top: 51.688rem;
  right: 8rem;
  width: 47.938rem;
  height: 17.688rem;
  text-align: left;
}
.httpswwwpexelscomphotopIcon {
  position: absolute;
  top: 4rem;
  left: 45.688rem;
  border-radius: var(--br-11xl);
  width: 18.313rem;
  height: 24rem;
  object-fit: cover;
}
.httpswwwpexelscomphotomIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 19.813rem;
  border-radius: var(--br-13xl);
  max-height: 100%;
  width: 24.375rem;
  object-fit: cover;
}
.httpswwwpexelscomphotoaIcon {
  position: absolute;
  top: 4rem;
  left: 0;
  border-radius: var(--br-11xl);
  width: 18.313rem;
  height: 24rem;
  object-fit: cover;
}
.gallery {
  position: absolute;
  top: 15.688rem;
  left: 0;
  width: 64rem;
  height: 32rem;
}
.loveAndCompassion,
.welcomeToOur {
  position: absolute;
  text-transform: uppercase;
}
.loveAndCompassion {
  margin: 0;
  top: 2.188rem;
  right: 0;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 4rem;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 34rem;
}
.welcomeToOur {
  top: 0;
  right: 11.438rem;
  font-size: var(--label-02-size);
}
.heading {
  position: absolute;
  top: 0;
  right: 15rem;
  width: 34rem;
  height: 6.188rem;
  font-size: var(--heading-h2-size);
}
.welcome {
  position: absolute;
  top: 39.188rem;
  right: 14.875rem;
  width: 64rem;
  height: 69.375rem;
  text-align: center;
  font-size: var(--label-02-size);
  color: var(--black1);
  font-family: var(--label-02);
}
@media screen and (max-width: 750px) {
  .bringingPeaceAnd,
  .strivingForA {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .loveAndCompassion {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
}
@media screen and (max-width: 450px) {
  .bringingPeaceAnd,
  .strivingForA {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .loveAndCompassion {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
}
