.background {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--light-orange);
  width: 100%;
  height: 100%;
}
.bottomLine {
  position: absolute;
  top: 23.75rem;
  right: 0.063rem;
  background-color: var(--primary);
  width: 25.625rem;
  height: 1rem;
}
.loremIpsumDolor {
  position: absolute;
  top: 3.25rem;
  right: 0;
  line-height: 1.5rem;
  display: inline-block;
  width: 15.688rem;
}
.givingBack {
  margin: 0;
  position: absolute;
  top: 0;
  right: 5.063rem;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.icon,
.text {
  position: absolute;
  top: 9.5rem;
  right: 5rem;
  width: 15.688rem;
  height: 9.25rem;
}
.icon {
  top: 5rem;
  right: 17.688rem;
  width: 3rem;
  height: 3rem;
}
.background1,
.item {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.item {
  bottom: 0;
  width: 25.688rem;
}
.background1 {
  background-color: var(--light-orange);
  width: 100%;
}
.bottomLine1 {
  position: absolute;
  top: 23.75rem;
  right: 0;
  background-color: var(--primary);
  width: 25.625rem;
  height: 1rem;
}
.loremIpsumDolor1 {
  position: absolute;
  top: 3.25rem;
  right: 0;
  line-height: 1.5rem;
  display: inline-block;
  width: 15.688rem;
}
.getInvolved {
  margin: 0;
  position: absolute;
  top: 0;
  right: 4.063rem;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.icon1,
.text1 {
  position: absolute;
  top: 9.5rem;
  right: 4.938rem;
  width: 15.688rem;
  height: 9.25rem;
}
.icon1 {
  top: 5rem;
  right: 17.625rem;
  width: 3rem;
  height: 3rem;
}
.background2,
.item1 {
  position: absolute;
  top: 0;
  height: 100%;
}
.item1 {
  right: 27.188rem;
  bottom: 0;
  width: 25.625rem;
}
.background2 {
  right: 0;
  background-color: var(--light-orange);
  width: 100%;
}
.bottomLine2 {
  position: absolute;
  top: 23.75rem;
  right: 0;
  background-color: var(--primary);
  width: 25.688rem;
  height: 1rem;
}
.loremIpsumDolor2 {
  position: absolute;
  top: 3.25rem;
  right: 0;
  line-height: 1.5rem;
  display: inline-block;
  width: 15.688rem;
}
.aboutUs {
  margin: 0;
  position: absolute;
  top: 0;
  right: 7.438rem;
  font-size: var(--heading-h4-size);
  letter-spacing: -0.01em;
  line-height: 2.75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.text2 {
  top: 9.5rem;
  right: 5rem;
  width: 15.688rem;
  height: 9.25rem;
}
.icon2,
.item2,
.text2 {
  position: absolute;
}
.icon2 {
  top: 5rem;
  right: 17.688rem;
  width: 3rem;
  height: 3rem;
}
.item2 {
  height: 100%;
  top: 0;
  right: 54.313rem;
  bottom: 0;
  width: 25.688rem;
}
.heading1,
.list {
  position: absolute;
  right: 0;
}
.list {
  top: 10.188rem;
  width: 100%;
  height: 23.75rem;
}
.heading1 {
  margin: 0;
  top: 2.188rem;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.heading,
.subtext {
  position: absolute;
  top: 0;
}
.subtext {
  right: 14.688rem;
  font-size: var(--label-02-size);
  text-transform: uppercase;
}
.heading {
  right: 22.313rem;
  width: 35.313rem;
  height: 6.188rem;
  text-align: center;
  font-size: var(--heading-h2-size);
}
.whatDoWeDo {
  position: absolute;
  top: 54.438rem;
  right: 7rem;
  width: 80rem;
  height: 33.938rem;
  text-align: left;
  font-size: var(--label-02-size);
  color: var(--black1);
  font-family: var(--label-02);
}
@media screen and (max-width: 750px) {
  .aboutUs,
  .getInvolved,
  .givingBack {
    font-size: var(--font-size-7xl);
    line-height: 2.188rem;
  }
  .heading1 {
    font-size: var(--font-size-19xl);
    line-height: 3.188rem;
  }
}
@media screen and (max-width: 450px) {
  .aboutUs,
  .getInvolved,
  .givingBack {
    font-size: var(--font-size-lgi);
    line-height: 1.625rem;
  }
  .heading1 {
    font-size: var(--font-size-10xl);
    line-height: 2.375rem;
  }
}
